# 数据库连接
DATABASE_URL="postgresql://postgres:postgres123@localhost:5432/autix_rbac?schema=public"

# 服务端口
PORT=4002

# JWT 鉴权配置
JWT_SECRET="autix_rbac_jwt_secret_key_2026_super_secure"
JWT_EXPIRES_IN="15m"
REFRESH_TOKEN_EXPIRES_IN="7d"
